
#anchor-navigation-ex-navbar li {
    list-style-type: none;
    font-size: 16px;
}

/*.book-body {*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*!*background-color: #f5f5d5;*!*/
/*}*/

/*.body-inner {*/
    /*position: static !important;*/
    /*width: 75%;*/
    /*!*background-color: white;*!*/
    /*overflow-y: initial !important;*/
/*}*/

nav > ul > .chapter > a {
    font-weight: bold;
}